.entry-container{
  display: flex;
  flex-direction: column;
  grid-area: en;
  padding-bottom: 5px;
}

.entry-container > h2{
  height: 44px;
  line-height: 44px;
  margin: 0px 0px 15px 0px;
}

.entry-data{
  box-shadow: inset 0px 0px 3px 1px #222733;
  border-radius: 3px;
  padding: 5px;
  background-color: #eef3ff;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
}

.entry-line{
  display: block;
  width: 100%;
  margin-bottom: 0.1em;
  color: #5f6166;
  font-family: Georgia;
  font-size: 14px;
}

.entry-line > label,div{
  display: inline;
}


